$(".comment<%=@comment.id %>").replaceWith('<div class="form-edit"><%= j render('form2', comment: @comment) %> </div>');
$(".form-header").replaceWith("<h1 class='form-header'>Edit</h1>")
$(".reply-form").hide(500)
