$(".reply-form").hide(500)
$(".comment<%=@comment.parent_id %>").after('<div class="reply-form"<%= j render('form2', comment: @comment) %></div>');
$(".form-header").replaceWith("<h1 class='form-header'>Reply</h1>")
//$(".form-edit").hide(500)
